
.services {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.service-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delivery-icon {
    font-size: 50px;
    color: #fd8802;
}

.service-details {
    font-weight: 600;
    width: 200px;
    text-align: center;
}
